
<div class="container px-5 px-sm-0 py-3">
    <div class="row">
      <%= render 'books/list', book: @book %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @book_show.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br>
                <%= link_to @book_show.user.name, user_path(@book_show.user_id) %>
              </td>
              <td><%= @book_show.title %></td>
              <td><%= @book_show.body %></td>
              <% if @book_show.user.id == current_user.id %>
                <td><%= link_to "Edit", edit_book_path(@book_show), class:"btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book_show), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>