<div class="container search_result">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2 class="my-3">Users search for '<%= @value %>'</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Introduction</th>
        </tr>
      </thead>
      <tbody>
        <% @datas.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, size:"40x40", fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.introduction %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% elsif @model == "book" %>
    <h2 class="my-3">Books search for '<%= @value %>'</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
      <% @datas.each do |book| %>
        <tr>
          <td>
            <%= attachment_image_tag book.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= link_to book_path(book) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
